body {
  background-color: rgb(57, 169, 219);
  font-family: Arial;
}

form {
  padding-bottom: 12px;
  text-align: center;
  line-height: 40px;
  width: 80%;
  overflow: auto;
  margin: 3% auto;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
  box-shadow: 5px 5px 10px 10px rgba(0, 81, 148, 0.5);
}

.main-1,
.main-2 {
  margin-left: 30%;
  text-align: left;
}

h1 {
  text-align: center;
  color: rgb(0, 113, 166);
  text-shadow: 1px 1px 10px rgba(0, 81, 148, 0.5);
}

input {
  border: rgb(114, 207, 250) 2px groove;
  border-radius: 5px;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: rgb(114, 207, 250);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 3px 10px;
  font-size: 16px;
  margin: 0 6px;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: rgb(59, 190, 251);
  transition: 0.5s;
}

legend {
  color: rgb(0, 113, 166);
  text-shadow: 1px 1px 1px;
  font-size: 20px;
}

.f-1 {
  width: 42%;
  margin: auto;
  border: none;
  border-radius: 30px;
  padding-bottom: 22px;
  background-color: rgb(206, 232, 244);
  box-shadow: 1px 1px 10px rgba(0, 81, 148, 0.5);
}

.f-2 {
  width: 42%;
  margin: auto;
  border: none;
  border-radius: 30px;
  padding-bottom: 22px;
  background-color: rgb(206, 232, 244);
  box-shadow: 1px 1px 10px rgba(0, 81, 148, 0.5);
}

.f-3 {
  width: 42%;
  margin: auto;
  border: none;
  border-radius: 30px;
  background-color: rgb(206, 232, 244);
  box-shadow: 1px 1px 10px rgba(0, 81, 148, 0.5);
  margin-bottom: 15px;
}

label {
  padding: 8px 16px;
  background-color: rgb(206, 232, 244);
  border-radius: 30px;
  box-shadow: 1px 1px 10px rgba(0, 81, 148, 0.5);
}